doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container
    img.logo(src='/images/logo.png')
    nav
     ul
      li
       a(href='/') home
      li
       a(href='/posts/add') Add Posts
      li
       a(href='/categories/add') Add Category
    block content
    footer 
     p NodeBlog &copy; 2019 
